@import '../../styles/ZIndexes.scss';
@import '../../styles/Colors.scss';
@import '../../styles/Mixins.scss';

.dropdown {
  position: sticky;

  &__opener {
    position: relative;
  }

  &__container {
    background-color: $white;
    z-index: $ZIndexDropdown;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.3);
    position: absolute;
    padding: 10px 0;
    min-width: 250px;
    max-inline-size: 200px;
    width: 80vw;
    top: 50px;
    right: 0px;

    &--dark {
      background-color: $darkModeLightGray;
      color: $lightGray;
    }

    @media only screen and (min-width: $mobile) {
      max-width: 200px;
      right: 20px;
      padding: 10px 0;
      border-radius: 5px;
    }
  }
}
