@import '../../styles/Mixins';
@import '../../styles/Colors';
@import '../../styles/FontSizes';
@import '../../styles/FontWeights';
@import '../../styles/Breakpoints';
@import '../../styles/Fonts';

.userPageFieldForm {
  @include cardStyling;

  &--dark {
    background-color: $darkModeGray;
    border-color: $darkModeBlack;
  }

  &__title {
    display: flex;
    font-size: $mediumFont;
    align-items: center;
    padding: 1em;

    &--dark {
      & .MuiOutlinedInput-root {
        color: $lightGray !important;
      }
    }
  }

  &__field {
    margin-bottom: 1em;
    padding: 0 1em;

    &--dark {
      color: $lightGray !important;
      & .MuiInput-root {
        color: $lightGray !important;
      }
    }
  }

  &__addfield {
    border: none;
    background: none;
    padding: 1em;
    cursor: pointer;

    &--dark {
      color: $lightGray !important;
    }
  }

  &__submitButtonWrapper {
    @include flexCenter;
    width: 100%;
    margin-bottom: 0.5em;
  }

  &__submitButton {
    &--dark {
      color: $lightGray !important;
    }
  }
}
