@import '../../styles/Mixins';
@import '../../styles/Colors';
@import '../../styles/FontSizes';
@import '../../styles/FontWeights';
@import '../../styles/Breakpoints';
@import '../../styles/Fonts';

.userPageFieldForm {
    max-width: 700px;
    width: 100%;
    border-top: 1px solid $lightGray;
    border-bottom: 1px solid $lightGray;
    background: $white;

    @media only screen and (min-width: $mobile) {
        border:1px solid $lightGray;
        border-radius: 15px;
    }

    &__title {
        display: flex;
        font-size: $mediumFont;
        align-items: center;
        padding: 1em;
    }

    &__field{
        margin-bottom: 1em;
        padding: 0 1em;
    }

    &__addfield {
        border: none;
        background: none;
        padding: 1em;
        cursor: pointer;
    }

    &__submitButtonWrapper {
        @include flexCenter;
        width: 100%;
        margin-bottom: .5em;
    }
}        