@import '../../styles/Mixins';
@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.notificationCard {
  display: flex;
  padding: 10px;
  word-break: break-all;
  transition: background-color 200ms;

  &:hover {
    background-color: $linkedinLightBlue;
  }

  &__avatar {
    margin-right: 1ch;
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
    color: $black;

    &--dark {
      color: $lightGray;
    }
  }

  &__timestamp {
    margin: 1px;
  }

  &__action {
    margin: 1px;
  }
}
