@import '../../styles/Mixins.scss';
@import '../../styles/Colors.scss';

.create-post {
  @include flexColumn;
  border-bottom: 1px solid $lightBlue;
  border-top: 1px solid $lightBlue;
  background-color: $white;
  padding: 20px;
  margin: 20px auto;
  max-width: 680px;
  flex: 1;

  &--dark {
    background-color: #282828;
  }

  @media only screen and (min-width: $tablet) {
    &--dark {
      border: 1px solid #121212;
    }

    border: 1px solid $lightBlue;
    border-radius: 20px;
  }

  .share-box {
    @include flexCenter;
    width: 100%;
    margin: 0 15px;

    &__text {
      width: 100%;
      margin: 15px;
    }
  }
}
