@import '../../styles/Mixins.scss';
@import '../../styles/Colors.scss';

.create-post {
  border: 1px solid $lightBlue;
  border-radius: 20px;
  display: flex;
  margin: 10px 30px;
  padding: 20px;

  .share-box {
    @include flexColumn;
    margin: 0 15px;
    width: 100%;

    &__text {
      margin: 15px;
      width: 100%;
    } 
  }
}
