@import '../../styles/Mixins.scss';
@import '../../styles/Colors.scss';

.create-post {
  @include flexColumn;
  border: 1px solid $lightBlue;
  background-color: $white;
  padding: 20px;
  margin: 20px auto;
  max-width: 680px;
  flex: 1;

  &--dark {
    background-color: $darkModeGray;
    border-color: $darkModeBlack;
  }

  @media only screen and (min-width: $tablet) {
    &--dark {
      border: 1px solid $darkModeBlack;
    }

    border: 1px solid $lightBlue;
    border-radius: 20px;
  }

  .share-box {
    @include flexCenter;
    width: 100%;
    margin: 0 15px;
    width: 100%;

    &__add-post--dark {
      color: $lightGray !important;
    }

    &__text {
      width: 100%;
      margin: 15px;

      &--dark {
        & .MuiInput-root {
          color: $lightGray;
        }
      }
    }
  }
}
