@import '../../styles/Mixins.scss';
@import '../../styles/Colors.scss';

.userCard {
  @include flexColumn;
  @include cardStyling;
  padding: 20px 0;
  max-width: 200px;
  margin: 10px;
  box-shadow: none;
  word-break: break-all;
  text-align: center;

  &--dark {
    background-color: #404040;
    border-color: #181818;
    color: white;
  }

  @media only screen and (min-width: $mobile) {
    width: 200px;

    &:hover {
      box-shadow: $lightBoxShadow;
    }
  }

  &__info {
    @include flexColumn;
    text-decoration: none;
    color: $black;

    &:hover {
      text-decoration: underline;
    }
  }

  &__avatar {
    height: 100px !important;
    width: 100px !important;
  }

  &__button {
    margin-top: 20px !important;

    &--followed {
      background-color: $linkedinBlue !important;
      color: $white !important;
    }
  }
}
