@import '../../styles/Breakpoints.scss';
@import '../../styles/Colors.scss';

.myNetwork {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $mainBackground;
  min-height: 100vh;

  &--dark {
    background-color: $darkModeMainBackground;
  }

  &__container {
    margin: 20px 0;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding: 10px;
    border: 1px solid $lightGray;

    &--dark {
      background-color: $darkModeGray;
      border-color: $darkModeMainBackground;
    }
  }

  &__buttons {
    min-width: 74%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: $white;

    &--dark {
      background-color: $lightGray;
    }

    @media only screen and (min-width: $laptop) {
      flex-direction: row;
    }
  }

  &__button {
    flex: 1;
    border: none !important;
    border-radius: 0 !important;

    &--active {
      color: $white !important;
      border: none !important;
      background-color: $linkedinBlue !important;

      &--dark {
        color: $lightGray !important;
      }
    }
  }
}
