$error: #ff4d4dd5;
$lightBlue: #c4cfdb;
$linkedinBlue: #3f51b5;
$linkedinLightBlue: #3f51b512;
$darkBlue: #0a66c2;
$gold: #e0b172;
$lightGray: lightgray;
$darkModeLightGray: #404040;
$gray: gray;
$darkModeGray: #282828;
$mainBackground: #f3f2ef;
$darkModeMainBackground: #181818;
$mainTheme: linear-gradient(0deg, rgba(40, 103, 178, 0.28895308123249297) 0%, rgba(255, 255, 255, 1) 71%);
$white: white;
$black: black;
$darkModeBlack: #121212;
$lightBoxShadow: 0px 7px 13px -7px #000000, 53px 3px 3px 3px rgba(0, 0, 0, 0);
$smoke: rgb(230, 230, 230);
