$lightBlue: #c4cfdb;
$darkBlue: #0a66c2;
$linkedinBlue: #3f51b5;
$gold: #e0b172;
$lightGray: lightgray;
$gray: gray;
$mainTheme: linear-gradient(0deg, rgba(40, 103, 178, 0.28895308123249297) 0%, rgba(255, 255, 255, 1) 71%);
