@import './Colors';
@import './FontSizes';
@import './FontWeights';

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-inline-size: 400px;
  width: 100%;

  .form__error {
    background-color: $error;
    border-radius: 5px;
    color: white;
    font-weight: $fontBold;
    padding: 8px;
    text-align: center;
  }
}
