@import './Colors.scss';

.form__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-inline-size: 400px;

  .form__error {
    text-align: center;
    color: white;
    padding: 8px;
    background-color: $error;
    border-radius: 5px;
    font-weight: bold;
  }
}