@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
