@import './Breakpoints';

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin cardStyling {
  max-width: 700px;
  width: 100%;
  border: 1px solid $lightGray;
  background: $white;

  @media only screen and (min-width: $tablet) {
    border-radius: 15px;
  }
}

@mixin flexWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
