@import '../../styles/Mixins';
@import '../../styles/Colors';
@import '../../styles/Fonts';
@import '../../styles/Variables';

.formLayout__container {
	@include flexColumn;

	background: $gradientBlue;
	min-height: 100vh;

	.formLayout__Text {
		text-align: center;
	}

	.formLayout__form {
		@include flexColumn;

		width: 90%;

		.hint {
			font-weight: $fontBold;

			.cta__button {
				color: $darkBlue;
				cursor: pointer;
				font-size: $smallFont;
				padding: 0.5rem;
				text-decoration: none;

				&:focus {
					background-color: rgba($darkBlue, 0.3);
					outline: none;
					text-decoration: underline;
				}

				@media only screen and (max-width: $smallBreakpoint) {
					font-size: $smallestFont;
				}
			}

			@media only screen and (max-width: $smallBreakpoint) {
				font-size: $smallestFont;
			}
		}
	}

	.formLayout__signInGoogleButton {
		background: none;
		border: hidden;
		padding: 0;

		&:hover {
			cursor: pointer;
		}
	}
}
