@import '../../styles/Mixins.scss';
@import '../../styles/Colors.scss';
@import '../../styles/Fonts.scss';
@import '../../styles/Variables.scss';

.FormLayout__container {
  @include flexColumn;
  min-height: 100vh;
  background: $gradientBlue;

  .FormLayout__signinText{
    text-align: center;
  }

  .FormLayout__formcontainer{
    width: 90%;
    @include flexColumn;
    .hint {
      .cta__button {
        color: $darkBlue;
        font-size: $smallFont;
        cursor: pointer;
        text-decoration: none;
        padding: .5rem;

        &:focus {
          outline:none;
          text-decoration: underline;
          background-color: rgba($darkBlue, .3);
        }

        @media only screen and (max-width: $smallBreakpoint) {
          font-size: $smallestFont;
        }
      }
        @media only screen and (max-width: $smallBreakpoint){
        font-size: $smallestFont;
      }
    }
  }
  .FormLayout__signInGoogleButton {
    background: none;
    border: none;
    padding: 0;
    
    &:hover {
      cursor: pointer;
    }
  }
}