@import '../../styles/Colors';

.feed {
  background-color: $mainBackground;
  min-height: 100vh;

  &--dark {
    background-color: $darkModeMainBackground;
  }

  &__createPost {
    display: flex;
    justify-content: center;
  }
}
