@import '../../styles/Breakpoints.scss';
.navigation {
  &--hidden {
    display: none;
  }

  &__link {
    text-decoration: none;
  }

  &__wrapper {
    display: flex;
    list-style-type: none;
    padding: 0;
  }

  @media only screen and (min-width: $medium) {
    display: block;
  }
}
