@import '../../styles/Colors.scss';
@import '../../styles/FontSizes.scss';
@import '../../styles/FontWeights.scss';
@import '../../styles/Breakpoints.scss';

.searchHint {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 10px 5px;
  background-color: $white;
  border: 1px solid $lightGray;
  border-top: none;
  font-size: $xsmallFont;

  &:hover {
    color: $linkedinBlue;
  }

  &--dark {
    background-color: $darkModeLightGray;
    border-color: $darkModeBlack;
    color: $lightGray;
  }

  @media only screen and (min-width: $small) {
    font-size: $textFont;
  }

  @media only screen and (min-width: $mobile) {
    font-size: $smallFont;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: $fontBold;
  }

  &__link {
    text-decoration: none;
    color: $black;
  }
}
