@import "../styles/Colors.scss";
@import "../styles/Mixins.scss";
@import "../styles/Fonts.scss";
.welcome-page {
    height: 100vh;
    @include centerFlex;
    font-size: $smallFont;
    color: $darkBlue;
    background-color: $lightBlue;
    background: linear-gradient(0deg, rgba(40, 103, 178, 0.28895308123249297) 0%, rgba(255, 255, 255, 1) 71%);
    .wrapper {
        &__h1 {
            @include centerFlex;
            span {
                font-size: 1.75em;
                font-weight: 600;
            }
            &--icon {
                font-size: 2em;
            }
        }
        &__welcome-txt {
            padding: 0 50px;
            font-size: .9em;
            letter-spacing: 1px;
            font-weight: normal;
            text-align: center;
        }
        &__btns {
            @include centerFlex;
            flex-direction: column;
            margin-top: 50px;
            &--welcome-button{
                margin: 10px;
            }
        }
    }
    @media (orientation: landscape) {
        .wrapper__welcome-txt {
            padding: 0 20px;
            margin: 0px;
        }
        .wrapper__btns {
            flex-direction: row;
            margin-top: 20px;
        }
    }
}