@import '../../styles/Mixins.scss';
@import '../../styles/Breakpoints.scss';
@import '../../styles/Colors.scss';
@import '../../styles/FontSizes.scss';
@import '../../styles/FontWeights.scss';

.navigationIcon {
  text-decoration: none;
  @include flexCenter;
  margin-right: 18px;
  color: $gray;
  cursor: pointer;

  &:hover {
    color: $linkedinBlue;
  }

  &--active {
    color: $linkedinBlue;
    text-decoration: none;
  }

  @media only screen and (min-width: $tablet) {
    @include flexColumn;
  }

  &__title {
    display: none;

    @media only screen and (min-width: $tablet) {
      font-size: $textFont;
      font-weight: $normalWeight;
      margin: 0;
      display: block;
    }
  }

  &__icon {
    object-fit: contain;
    width: 25px !important;
    height: 25px !important;
  }
}
