@import '../../styles/Mixins.scss';
@import '../../styles/Fonts.scss';
@import '../../styles/FontSizes.scss';
@import '../../styles/FontWeights.scss';
@import '../../styles/Colors.scss';
@import '../../styles/Breakpoints.scss';

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid $lightGray;
  border-radius: 15px;
  padding: 2%;
  width: 90vw;
  min-height: 80vh;
  font-family: $postText;
  @include flexColumn;

  &__title {
    font-weight: $fontBold;
    font-size: $mediumFont;
    color: $linkedinBlue;
  }

  @media only screen and (min-width: $mobile) {
    width: 75vw;
  }

  @media only screen and (min-width: $medium) {
    width: 50vw;
  }

  @media only screen and (min-width: $laptop) {
    width: 35vw;
  }
}
