@import '../../styles/Mixins.scss';
@import '../../styles/Breakpoints.scss';
@import '../../styles/ZIndexs.scss';
@import '../../styles/Fonts.scss';
@import '../../styles/Global.scss';

.header {
  position: sticky;
  @include FlexJustifyContentSpaceAround;
  border-bottom: 0.1px solid lightgray;
  width: 100%;
  top: 0;
  padding: 10px 0;
  z-index: $maxZIndex;

  &__search {
    @include flexAlignItemsCenter;
  }

  &__logo {
    font-size: $bigFont !important;
  }

  @media only screen and (min-width: $mobileDevices) {
    &__logo {
      margin-right: 10px;
    }
  }
}
