@import '../../styles/Colors.scss';
@import '../../styles/Fonts.scss';
@import '../../styles/Mixins.scss';
.welcomePage {
  @include flexCenter;

  height: 100vh;
  font-size: $smallFont;
  color: $darkBlue;
  background: $mainTheme;
  background-color: $lightBlue;

  .hero {
    @include flexColumn;
    
    &__title {
      @include flexCenter;
      margin: 30px;
      margin: 0;
      font-size: $mediumFont;
      font-weight: bold;
    }
    
    &__icon {
      font-size: $largeFont;
    }

    &__sub-title {
      letter-spacing: 1px;
      font-weight: normal;
      text-align: center;
    }

    &__links {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 300px;
      margin-bottom: 30px;
    }

    &__link {
      text-decoration: none;
    }
  }
}
