@import '../../styles/Mixins';
@import '../../styles/FontSizes';
@import '../../styles/FontWeights';
@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.userDetails {
  @include flexCenter;
  @include cardStyling;
  margin: 1.25em 0;
  padding: 1em 0;
  height: fit-content;
  word-break: break-word;

  &--dark {
    background-color: $darkModeGray;
    color: $lightGray !important;
    border-color: $darkModeBlack;
  }

  &__avatar {
    width: 96px;
    height: 96px;
    margin: 0 1em;
    border-radius: 50%;

    @media only screen and (min-width: $mobile) {
      width: 164px;
      height: 164px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    min-height: 96px;
    padding-top: 1rem;
  }

  &__name {
    display: flex;
    width: fit-content;
    font-size: $smallFont;
    font-weight: $fontBold;
    align-items: center;
    margin: 0;

    @media only screen and (min-width: $mobile) {
      font-size: $mediumFont;
    }
  }

  &__flare {
    display: flex;
    color: $linkedinBlue;
    align-items: center;
    font-size: $textFont;
    margin-top: 0;
  }

  &__bio {
    margin-top: 0.5em;
    font-size: $textFont;
    max-width: 90%;

    @media only screen and (min-width: $mobile) {
      font-size: $smallFont;
    }
  }

  &__edit {
    align-items: flex-end;
  }

  &__icon {
    &--dark {
      color: $lightGray !important;
    }
  }

  &__followButton {
    background: none;
    border: 1px solid $linkedinBlue;
    border-radius: 5px;
    color: $linkedinBlue;
    cursor: pointer;
    font-size: $textFont;
    margin-left: 1em;
    padding: 0 0.5em;

    @media only screen and (min-width: $mobile) {
      font-size: $smallFont;
    }
  }
}
