@import '../../styles/Mixins';
@import '../../styles/Colors';
@import '../../styles/FontSizes';
@import '../../styles/FontWeights';
@import '../../styles/Breakpoints';
@import '../../styles/Fonts';

.feedPost {
  @include flexColumn;
  font-family: $postText;
  max-width: 700px;
  border-radius: 10px;
  background: $white;
  padding: 10px;
  border: 1px solid $lightGray;
  margin: 0px auto 1.25em auto;

  &--dark {
    background-color: $darkModeGray;
    color: $lightGray;
    border-color: $darkModeBlack;
  }

  @media only screen and (max-width: $tablet) {
    border-radius: 0px;
  }

  &__user {
    display: flex;
    align-items: center;
    align-self: flex-start;
    width: fit-content;
    margin: 0;
    text-decoration: none;
    color: $black;
  }

  &__info {
    display: flex;
    flex-direction: column;

    &--dark {
      color: $lightGray;
    }
  }

  &__avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: $white;
  }

  &__name {
    font-size: $smallFont;
    font-weight: $fontBold;
  }

  &__content {
    font-size: $mediumFont;
    width: 100%;
    max-block-size: none;
    word-break: break-all;

    &--see__less {
      padding: 0;
      max-block-size: 64px;
      word-wrap: normal;
      overflow: hidden;
    }

    @media only screen and (max-width: $mobile) {
      font-size: $smallFont;
    }
  }

  &__seeButton {
    border: none;
    text-decoration: none;
    color: $darkBlue;
    cursor: pointer;
    text-align: end;
    font-weight: $fontBold;
    font-size: $textFont;
    width: 100%;
    background: inherit;
    margin-top: -0.5rem;

    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }

  &__timestamp {
    text-align: end;
    font-size: $textFont;
    margin-top: 0.5rem;
    width: 100%;
  }
}
