@import '../../styles/Mixins.scss';
@import '../../styles/Breakpoints.scss';
@import '../../styles/Colors.scss';

.search {
  display: flex;
  flex-direction: column;
  height: 22px;
  color: $gray;

  @media only screen and (min-width: $small) {
    padding: 10px;
  }

  :hover {
    color: $linkedinBlue;
  }

  &--hidden {
    margin-left: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: $lightGray;

    :hover {
      color: inherit;
    }
  }

  @media only screen and (min-width: $medium) {
    border-radius: 5px;
    padding: 5px;
    background-color: $lightGray;
    margin-left: 0;

    :hover {
      color: inherit;
    }
  }

  &__icon {
    cursor: pointer;

    &--hidden {
      cursor: default;
    }

    @media only screen and (min-width: $medium) {
      cursor: default;
      pointer-events: none;
    }
  }

  &__container {
    display: flex;
  }

  &__input {
    display: none;
    width: 200px;

    @media only screen and (min-width: $small) {
      width: 260px;
    }

    &--hidden {
      display: block;
      outline: none;
      border: none;
      background: none;
      color: $black;
    }

    @media only screen and (min-width: $medium) {
      display: block;
      outline: none;
      border: none;
      background: none;
      color: $black;
    }
  }

  &__hints {
    display: none;

    &--hidden {
      display: block;
      padding: 0;
      margin: 3px 0;
      width: 100%;
    }

    @media only screen and (min-width: $medium) {
      display: block;
      padding: 0;
      margin: 3px 0;
      width: 100%;
    }
  }
}
