@import '../../styles/Mixins';
@import '../../styles/FontSizes';
@import '../../styles/FontWeights';
@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.userPage {
  @include flexColumn;
  min-height: 100vh;
  justify-content: flex-start;
  background: $mainBackground;

  &__button-wrapper{
    min-width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  &--dark {
    background-color: $darkModeMainBackground;
  }

  &__ctaButton {
    margin: 1em;
  }

  &__showButton {
    margin: 15px !important;
  }
}
