@import '../../styles/Mixins';
@import '../../styles/FontSizes';
@import '../../styles/FontWeights';
@import '../../styles/Colors';
@import '../../styles/Breakpoints';

.userPage {
    @include flexColumn;
    min-height: 100vh;
    justify-content: flex-start;
    background: $mainBackground;

    &__ctaButton{
        margin: 1em;
    }
}