@import '../../styles/Mixins';
@import '../../styles/Colors';
@import '../../styles/FontSizes';
@import '../../styles/FontWeights';
@import '../../styles/Breakpoints';
@import '../../styles/Fonts';


.userPageField {
    @include cardStyling;
    margin-bottom: 1em;

    &__title {
        display: flex;
        font-size: $mediumFont;
        align-items: center;
        padding: 0 1em;
        word-break: break-all;

    }

    &__entries {
        word-break: break-all;
        margin: 1em;
    }
}