@import '../../styles/FontWeights.scss';
@import '../../styles/FontSizes.scss';
@import '../../styles/Colors.scss';

.headerDropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-break: break-all;
  }

  &__name {
    font-weight: $fontBold;
    margin-bottom: 3px;
  }
  
  &__headline {
    font-size: $textFont;
  }

  &__listItem {
    margin: 10px;
    display: flex;
    justify-content: center;
  }

  &__button {
    text-transform: none !important;
    flex: 1;

    &--darkViewProfile {
      background-color: $darkModeGray !important;
    }

    &--darkLogout {
      background-color: $darkModeGray !important;
      color: $lightGray !important;
    }
  }

  &__actions {
    display: grid;
    place-items: center;
  }

  &__icon {
    pointer-events: none !important;
  }
}
