@import '../../styles/FontWeights.scss';

.headerDropdown {
  list-style-type: none;
  padding: 0;
  margin: 0;

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-break: break-all;
  }

  &__name {
    font-weight: $fontBold;
  }

  &__listItem {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__button {
    text-transform: none !important;
    flex: 1;
  }

  &__actions {
    display: grid;
    place-items: center;
  }
}
